# PORTAL 2 & 3: App & Auth
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Send All Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Block access to hidden files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>